<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property scope="context" name="default.logger.name" value="kalah-game-api"/>
    <property scope="context" name="default.logger.formatted" value="true"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Out puts logs following the dp-logging standards format -->
    <appender name="GAME_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="THIRD_PARTY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.v2.layout.ThirdPartyEventLayout">
                <Pattern>%n%msg</Pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="kalah-game-api" level="info" additivity="false">
        <appender-ref ref="GAME_LOGGER"/>
    </logger>

    <root level="warn">
        <appender-ref ref="THIRD_PARTY"/>
    </root>

</configuration>
